/models/
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/terms_extraction.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/terms_extraction.iml
.idea/vcs.xml
models/cws.model
models/ner.model
models/parser.model
models/pisrl.model
models/pos.model
models/cws.model
models/ner.model
models/parser.model
models/pisrl.model
models/pos.model
/models/
